<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <nav class = "menu">
        <ul>
            <li><a href = "/home">Goliat</a></li>
            <li><a href = "/works">Killings</a></li>
            <li><a href = "/about">About</a></li>
        </ul>
    </nav>
    <div class="header">
        <img src="/images/fight.jpg" width="400px" height="250px"  alt="bg-goliat">
        <h1>GOLIAT</h1>
    </div>


</body>
</html>