body {
  background: orange;
  margin: 0;
}

.header {
  /* margin-left: 300px;  */
  margin-top: 30px;
  justify-content: center;
  width: 600px;
  height: 250px;
}


.menu {
  color: black;


  
}

.header img {
  display: flex;
  border: 2px solid black;
  border-radius: 20%;
  align-items: center;
  margin-left: 180px;
}

.header h1 {
  position: relative;
  bottom: 240px;
  left: 80px;
}

.menu:hover {
  color: yellow;
  
}

.menu a {
   color: black;
  margin: 300px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1 {
 

  color: black;
  text-align: center;
}
